body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /*viewport height:tạo các phần tử có kích thước phụ thuộc vào chiều cao của màn hình.*/
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,52,76,1) 100%);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
    color: white;
}

.header__title {

    font-size: 3em;
    font-family: 'Arial', serif;
    font-weight: bold;
    text-align: center;
    color: white;
    background: linear-gradient(90deg, #40A2D8,#F0EDCF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;

}   

.header__score {
    font-size: 2em;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
}

.game-buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10%;
    flex-wrap: wrap;
}

.game-button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s;  /*create smooth*/
}

.game-button__img {
    width: 50%;
    height: 50%;
}

.game-button:hover {
    transform: scale(1.5);
}

.game-button--rock {
    background-color: #ff4e4e;
}

.game-button--paper {
    background-color: #4e4eff;
}

.game-button--scissors {
    background-color: #ffe44e;
}

.rules {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.modal {
    /* ẩn đi hoàn toàn modal*/
    display: none;
    /* định vị tương đối với viewport, không bị ảnh hưởng bởi cuộn trang. */
    position:fixed; 
    max-width: 100vh;
    max-height: 100vh;
    overflow: auto;
    justify-content: center;
    align-items: center; 
    
}

.modal__content {
    background-color: #0a1e4f;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px; 
    text-align: center;
}
.modal__content h2 {
    color: white;  
}
 .modal__content img {
    width:80%;
     height:80%;
}
.modal__close {
    color: white;
    float: right;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}

/* :hover and :focus are pseudo-class that were use when get activity user 
    :hover active when user suft it, :focus when use interface (click) with it */
.modal__close:hover,
.modal__close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}



@media (max-width: 480px) {
    .header {
        font-size: 2em;
        flex-direction: column;
        align-items: center;
    }

    .header__title,
    .header__score {
        font-size: 1em;
    }

    .game-buttons {
        gap: 3%;
        padding: 3%;
    }

    .game-button {

        width: 150px;
        height: 150px;
    }

    .rules {
        bottom: 10px;
        right: 10px;
        padding: 5px;
        font-size: 0.8em;
    }

    .modal__content {
        width: 90%;
        padding: 10px;
    }
}