body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /*viewport height:tạo các phần tử có kích thước phụ thuộc vào chiều cao của màn hình.*/
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(0, 52, 76, 1) 100%);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
    color: white;
}

.header__title {

    font-size: 3em;
    /* 'em' relative to the font-size of the parent element, 
                        but if not the front-size of the parent element it will 
                        default to the browser's default size. */
    font-family: 'Arial', serif;
    font-weight: bold;
    text-align: center;
    color: white;
    background: linear-gradient(90deg, #40A2D8, #F0EDCF);
    -webkit-background-clip: text;
    /*allow background-color appear through text */
    -webkit-text-fill-color: transparent;
    /*makes the text color transparent for background shows through the text.*/
    width: fit-content;
    /*gives the element an automatic width based on the content inside.*/

}

.header__score {
    font-size: 2em;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
}

.game-buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10%;
    flex-wrap: wrap;
}

.game-button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s;
    /*create smooth*/
}

.game-button__img {
    width: 50%;
    height: 50%;
}

.game-button:hover {
    transform: scale(1.5);
}

.game-button--rock {
    background-color: #ff4e4e;
}

.game-button--paper {
    background-color: #4e4eff;
}

.game-button--scissors {
    background-color: #ffe44e;
}

.rules {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.modal {
    /* ẩn đi hoàn toàn modal*/
    display: none;
    /* định vị tương đối với viewport, không bị ảnh hưởng bởi cuộn trang. */
    position: fixed;
    max-width: 100vh;
    max-height: 100vh;
    overflow: auto;
    justify-content: center;
    align-items: center;

}

.modal__content {
    background-color: #0a1e4f;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    text-align: center;
}

.modal__content h2 {
    color: white;
}

.modal__content img {
    width: 80%;
    height: 80%;
}

.modal__close {
    color: white;
    float: right;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}

/* :hover and :focus are pseudo-class that were use when get activity user 
    :hover active when user suft it, :focus when use interface (click) with it */
.modal__close:hover,
.modal__close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

@keyframes fly-up {
    0% {
        opacity: 0;
        /*basic  understand '0': off '1': on*/
        transform: translateY(50px);
    }

    50% {
        opacity: 1;
        transform: translateY(-10px);
    }

    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

.result-message {
    font-family: sans-serif;
    position: fixed;
    top: 40%;
    left: 40%;
    font-size: 10em;
    color: #F0EDCF;
    animation: fly-up 2s ease-in-out forwards;
    /* speed animation executive.
    ease-in-out: lowstart-nomalmid-lowend
    forwards: keep the last value instead back to the start */
    pointer-events: none;
    /* Prevents interaction */
}

@keyframes fireworks {
    0% {
        opacity: 1;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

.firework {
    position: fixed;
    width: 2em;
    height: 2em;
    background: white;
    border-radius: 50%;
    animation: fireworks 1s ease-out infinite;
}

#fireworks-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}


@media (max-width: 480px) {
    .header {
        font-size: 2em;
        flex-direction: column;
        align-items: center;
    }

    .header__title,
    .header__score {
        font-size: 1em;
    }

    .game-buttons {
        gap: 3%;
        padding: 3%;
    }

    .game-button {

        width: 150px;
        height: 150px;
    }

    .rules {
        bottom: 10px;
        right: 10px;
        padding: 5px;
        font-size: 0.8em;
    }

    .modal__content {
        width: 90%;
        padding: 10px;
    }
}